<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@ViewBag.Title - My ASP.NET Application</title>
    @*font awesome*@
    <script src="https://kit.fontawesome.com/1d67d5c453.js" crossorigin="anonymous"></script>
    <script src="~/assets/js/plugin/webfont/webfont.min.js"></script>

    @Styles.Render("~/Content/css")
    @Scripts.Render("~/bundles/modernizr")

</head>
<body>
    @Html.Partial("_NavBar")
    <div class="container">
        @RenderBody()
        <hr />

    </div>
    <footer class="container">
        <p>&copy; @DateTime.Now.Year - Chin Hong</p>
    </footer>
@*    @Scripts.Render("~/bundles/jquery")*@
  @*  @Scripts.Render("~/bundles/bootstrap")*@

    @Scripts.Render("~/bundles/lib")

    @RenderSection("scripts", required: false)
</body>
</html>
