@model MovieApp.ViewModel.MovieFormViewModel
@{
    ViewBag.Title = "Create";
    Layout = "~/Views/Shared/_Layout.cshtml";
}


<div class="row mt-3">
    <h2>Create Movie</h2>
    @using (Html.BeginForm("Create", "Movies"))
    {
        @Html.ValidationSummary(true, "Please fix the following errors.")
        <div class="col-12 mt-3">

            <div class="form-group">
                @Html.LabelFor(m => m.Name, new { @class = "form-label" })
                @Html.TextBoxFor(m => m.Name, new { @class = "form-control" })
                @Html.ValidationMessageFor(m => m.Name)
            </div>
            <div class="form-group mt-3">
                @Html.LabelFor(m => m.ReleaseDate, new { @class = "form-label" })
                @Html.TextBoxFor(m => m.ReleaseDate, "{0: dd MMM yyyy}", new { @class = "form-control" })
                @Html.ValidationMessageFor(m => m.ReleaseDate)

            </div>
            <div class="form-group mt-3">
                @Html.LabelFor(m => m.GenreId, new { @class = "form-label" })
                @Html.DropDownListFor(m => m.GenreId, new SelectList(Model.Genres, "Id", "Name"), "Select Genre", new { @class = "form-select" })
                @Html.ValidationMessageFor(m => m.GenreId)

            </div>
            <div class="form-group mt-3">
                @Html.LabelFor(m => m.NumberInStock, new { @class = "form-label" })
                @Html.TextBoxFor(m => m.NumberInStock, new { @class = "form-control" })
                @Html.ValidationMessageFor(m => m.NumberInStock)

            </div>
        </div>
        @Html.HiddenFor(m => m.Id)
        @*@Html.HiddenFor(model => model.date_updated, new { @Value = System.DateTime.Now })*@
        @*@Html.HiddenFor(m=>m.DateAdded,new {@Value= System.DateTime.Now})*@
        @*@Html.HiddenFor(m=>m.Genres.)*@

        <div class="row mt-3">
            <div class="col-6 col-md-3">
                @Html.ActionLink("Back", "Index", null, new { @class = "btn w-100" })
            </div>
            <div class="col-6 col-md-3">
                <button type="submit" class="btn btn-outline-success w-100">Save</button>
            </div>
        </div>
    }

</div>

